{% extends "EdpMainBundle::page_niv2.html.twig" %}

{% block n3 %}
    <br/><br/>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>A propos</h2>
                        <div><!--category-productsr-->
                            Depuis plus de 25 ans, les Editions du Papyrus proposent des ouvrages de qualité répondant parfaitement aux attentes des professionnels comme vous.
                            <br/><br/>Notre ambition est plus que jamais de vous fournir, dans les meilleurs délais, les outils de documentation les plus adaptés à vos besoins. C'est pourquoi toute l'équipe des Editions du Papyrus, ainsi que les meilleurs spécialistes avec lesquels nous collaborons étroitement, se mobilisent pour vous proposer des outils de travail et des ouvrages de référence.
                        </div><!--/category-products-->					

                    </div>
                </div>		

                <div class="category-tab"><!--category-tab-->

                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tshirt" >
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ asset('bundles/edpassets/images/home/code_de_la_fonction_publique_d_etat.png') }}" alt="" />
{#                                            <h2>100€</h2>#}
                                            <p>Code de la fonction publique d'Etat<br/><br/></p>
                                            <a href="{{path('edp_show_code')}}" class="btn btn-default add-to-cart">Details</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ asset('bundles/edpassets/images/home/code_de_la_fonction_publique_territoriale.png') }}" alt="" />
{#                                            <h2>100€</h2>#}
                                            <p>Code de la fonction publique territoriale<br/><br/></p>
                                            <a href="{{path('edp_show_code')}}" class="btn btn-default add-to-cart">Details</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ asset('bundles/edpassets/images/home/code_electoral_et_annexes.png') }}" alt="" />
{#                                            <h2>100€</h2>#}
                                                <p>Code électoral<br/><br/><br/></p>
                                            <a href="{{path('edp_show_code')}}" class="btn btn-default add-to-cart">Details</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ asset('bundles/edpassets/images/home/code_general_collectivite_partie_legislative.png') }}" alt="" />
{#                                            <h2>100€</h2>#}
                                            <p>Code général des collectivités (legislatif)<br/><br/></p>
                                            <a href="{{path('edp_show_code')}}" class="btn btn-default add-to-cart">Details</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ asset('bundles/edpassets/images/home/code_general_collectivite_partie_reglementaire.png') }}" alt="" />
{#                                            <h2>100€</h2>#}
                                            <p>Code général des collectivités (reglementaire)<br/><br/></p>
                                            <a href="{{path('edp_show_code')}}" class="btn btn-default add-to-cart">Details</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ asset('bundles/edpassets/images/home/code_pratique_des_marches_publics.png') }}" alt="" />
{#                                            <h2>100€</h2>#}
                                            <p>Code pratique des marchés publics<br/><br/></p>
                                            <a href="{{path('edp_show_code')}}" class="btn btn-default add-to-cart">Details</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ asset('bundles/edpassets/images/home/code_pratique_des_renumerations_des_agents_territoriaux.png') }}" alt="" />
{#                                            <h2>100€</h2>#}
                                            <p>Code de pratique des rémunérations des agents territoriaux</p>
                                            <a href="{{path('edp_show_code')}}" class="btn btn-default add-to-cart">Details</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ asset('bundles/edpassets/images/home/code_pratique_des_transports.png') }}" alt="" />
{#                                            <h2>100€</h2>#}
                                            <p>Code pratique des transports<br/><br/><br/></p>
                                            <a href="{{path('edp_show_code')}}" class="btn btn-default add-to-cart">Details</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ asset('bundles/edpassets/images/home/code_pratique_pompiers.png') }}" alt="" />
{#                                            <h2>100€</h2>#}
                                            <p>Code pratique des pompiers</p>
                                            <a href="{{path('edp_show_code')}}" class="btn btn-default add-to-cart">Details</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ asset('bundles/edpassets/images/home/code_retraite.png') }}" alt="" />
{#                                            <h2>100€</h2>#}
                                            <p>Code de la retraite</p>
                                            <a href="{{path('edp_show_code')}}" class="btn btn-default add-to-cart">Details</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/category-tab-->					

            </div>
        </div>
    </div>
</section>

{% endblock n3 %}