
Bonjour {{utilisateur.username}}!
<br /><br />
Votre commande n°{{abonnement.id}} est validée!
<br /><br />
Récapitulatif de votre abonnement:
<br /><br />
Libellé : {{abonnement.libelle}}
<br /><br />
Date de début : {{abonnement.debut|date('d/m/Y')}}
<br /><br />
Date de fin : {{abonnement.fin|date('d/m/Y')}}
<br /><br />
Code(s) associés: 
{% for code in codes %}
         <p>{{code.titre}}</p>
         
{% endfor %}
<br /><br />
Votre abonnement sera activé à la réception de votre paiement, vous pourrez ensuite accéder à votre documentation.
<br /><br />
L'équipe des Editions du Papyrus vous remercie!
<br /><br />
Bien cordialement.