<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-3">
                <div class="login-form"><!--login form-->
                    <h2>Rubriques</h2>
                    <a href="{{path('fos_user_profile_show')}}"> Mes informations</a><br/>
                    <a href="{{ path("fos_user_profile_edit") }}"> Modifier mes informations</a><br/>
                    <a href="{{ path("fos_user_change_password") }}"> Modifier mon mot de passe</a><br/>
                    <a href="#"> Mes factures </a><br/>
                    <a href="#"> Mes adresses </a><br/>
                    <a href="{{ path("fos_user_security_logout") }}"> Déconnexion </a>												
                </div><!--/login form-->
            </div>

            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2> Modification de mes informations</h2>
                    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
                        {{ form_widget(form) }}
                        <div>
                            <button class="btn btn-primary pull-right" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}">Mettre à jour</button>
{#                            <a href="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary pull-right"> Mettre à jour </a>#}
                        </div>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->

{#<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>#}



